<ion-header>
  <ion-navbar>
    <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Donations</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  
  <div padding>
    <button ion-button color="primary" block (click)="donateMoney()">Donate</button>
  </div>
  <div *ngIf="donations?.length;else no_data_templ">
      <ion-card *ngFor="let donation of donations">
        <ion-card-content>
          <ion-card-title>
            {{donation.PID}}
          </ion-card-title>
          <p>
            {{donation.LongDesc}}
          </p>
        </ion-card-content>
    </ion-card>
  </div>
  
  <ng-template #no_data_templ>
       No donations recorded...
  </ng-template>

</ion-content>
